@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    width: 100vw;
    height: 90vh;
    background-image: url('./images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 15rem;
    margin: auto;
    justify-content: center;
    background-image: url('./images/pattern-circles.svg');
    background-size: 10em;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    overflow: visible;
    height: max-content;
}

header h1{
    margin: auto;
    width: max-content;
    height: max-content;
    align-items: baseline;
    font-size: 2rem;
    line-height: 5rem;
    color: hsl(227, 35%, 25%);
}

header h5{
    color: hsl(225, 20%, 60%);
    font-size: 1rem;
    line-height: 2rem;
}

h4{
    margin: auto;
    width: max-content;
    color: hsl(227, 35%, 25%);
}

.price-component{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 35%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px 10px rgb(211, 211, 211);
}

.jscript-components, .billing-options, .card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type='range']{
    -webkit-appearance: none;
    width: 80%;
    border-radius: 25px;
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
    transition: background 450ms ease-in;
    /* background: hsl(174, 86%, 45%); */
    margin: auto;
}

input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: hsl(224, 65%, 95%);
    border-radius: 25px;
    height: 0.75em;
    width: 3em;
}

input[type='range']::-ms-track {
    width: 80%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    content: '';
    margin-top: -14px;
    background: url('./images/icon-slider.svg');
    background-color: hsl(174, 86%, 45%);
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 3px 3px hsl(174, 77%, 80%);
    height: 36px;
    width: 36px;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: ew-resize;
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    content: '';
    margin-top: -14px;
    background: url('./images/icon-slider.svg');
    background-color: hsl(174, 86%, 45%);
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 3px 3px hsl(174, 77%, 80%);
    height: 36px;
    width: 36px;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type=range]::-ms-thumb{
    -webkit-appearance: none;
    content: '';
    margin-top: -14px;
    background: url('./images/icon-slider.svg');
    background-color: hsl(174, 86%, 45%);
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 3px 3px hsl(174, 77%, 80%);
    height: 36px;
    width: 36px;
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
    background-color: hsl(224, 65%, 95%);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    border: 0.5px solid hsl(0, 0%, 100%);
}

.billing-options{
    font-size: 1rem;
    vertical-align: center;
    justify-content: center;
}

.bill-switch{
    display: inline-block;
    position: relative;
    justify-content: left;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
}

.bill-switch input{
    display: none;
}

.switch {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    height: 1rem;
    width: 2rem;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input{
    display: none;
}

.switch:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}

input:checked + .switch {
    background-color: #2196F3;
}

input:focus + .bill-switch {
    box-shadow: 0 0 1px #2196F3;
}

.billing-options p{
    color: hsl(225, 20%, 60%);
    height: max-content;
}

.jscript-components{
    margin-top: 1rem;
    padding: 1rem;
}

.price-component hr{
    border-top: 0.5px solid hsl(224, 65%, 95%);
}

.card-bottom{
    height: max-content;
    padding: 1rem;
    margin-bottom: 1rem;
}

ul{
    list-style: url('./images/icon-check.svg');
    margin-top: auto;
    margin-bottom: auto;
}

ul li{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    padding: 0.25rem;
    text-align: left;
    font-size: 0.75em;
    line-height: 1em;
    color: hsl(225, 20%, 60%);
}

button{
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    border-radius: 2rem;
    height: 2.5rem;
    width: 10rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    line-height: 1.5rem;
    border-color: transparent;
    cursor: pointer;
}

@media only screen 
    and (max-width: 375px) 
    and (-webkit-min-device-pixel-ratio: 2){
    
    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    header{
        width: 100%;
    }

    header h1{
        font-size: 1rem;
    }

    header h5{
        font-size: 0.5rem;
    }

    .price-component{
        width: 85%;
    }
}
    
@media only screen 
    and (min-device-width: 376px)
    and (max-device-width: 480px) 
    and (-webkit-min-device-pixel-ratio: 2){

    body{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    header{
        width: 100%;
    }

    header h1{
        font-size: 1.5rem;
    }

    header h5{
        font-size: 0.5rem;
    }

    .price-component{
        width: 90%;
    }
}

